/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hwb(340 12% 24%);
    }  
  .calculator {
    border: 1px solid hsl(300 , 88%, 23%);
    width: 500px;
    text-align: center;
    padding: 10px;
  }
  .number {
    background-color: hsl(309, 86%, 49%); /* Cor de fundo azul */
    color: rgba(216, 204, 204, 0.973); /* Cor do texto branca */
  }
  
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
    button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }